.btn {
  display:block;
}

#bio {
  display: none;
}

#robo {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  margin: 40px;
  border: 40px;
  padding: 8px;
}

#info{
  display: none
}

